body {
    background-color: #999999;
}

.search_box {
    width: 50%;
    min-height: 75px;
    height: 175px;
    background-color: #DDDDDD;
    margin: 30px auto 15px auto;
    padding: 10px;
    border-radius: 10px;
}

.search_icon {
    background-color: coral;
    width: 90px;
    height: 25px;
    margin: -10px;
    padding: 10px;
    font-size: 20px;
    color: #EEEEEE;
    border-radius: 10px 0px 10px 0px;
}

.search_type {
    margin-top: 20px;
}

th {
    padding: 5px;
}

.cell_padding {
    padding: 10px;
}

.search_header {
    width: 120px;
    padding-left: 30px;
}

.search_area {
    border-collapse: collapse;
    width: 90%;
    margin: 0px auto auto auto;
    text-align: left;
}

.search_input {
    width: 95%;
}

#table_result {
    background-color: white;
    width: 80%;
    margin: 30px auto auto auto;
    padding: 20px;
    border-radius: 10px;
}

.btn_search {
    margin-top: 10px;
    margin-bottom: 15px;
}

.button_search {
    width: 100%;
}